@font-face {
	font-family: paper;
	src: url(./fonts/Newspaper.ttf);
}

#interface div {
	position: absolute;
	z-index: 100;
	display: block;
	font-family: paper;
}

#info {
	top: 10px;
	width: 100%;
	text-align: left;
	font-size: 64px;
	color: whitesmoke;
	margin-left: 20px;
}

#controls {
	bottom: 10px;
	width: 100%;
	text-align: left;
	font-size: 24px;
	color: whitesmoke;
	margin-left: 20px;
}

#life svg {
	display: inline-flex;
	width: 40px;
	margin-left: 20px;
	margin-top: 80px;
	font-family: paper;
}