@font-face {
    font-family: paper;
    src: url(./fonts/Newspaper.ttf);
  }

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    font-family: paper;
    font-size: 64px;
    color: whitesmoke;
    margin-left: 20px;
}

#controls {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    font-family: paper;
    font-size: 24px;
    color: whitesmoke;
    margin-left: 20px;
}

